@import "tailwindcss";

@theme {
  
    --font-outfit: "Outfit";
    /* Define custom colors */
  /* --color-primary: #5f6fff; */
  --color-primary: #000;

  /* Define custom grid template columns */
  --grid-cols-auto: repeat(auto-fill, minmax(200px, 1fr));
}